/*body{
  background: #E1E1E1;
}
::selection{
   color: #fff;
   background: #1cc7d0;
   }
   .wrapper{
   height: 200px;
   width: 160px;
   position: relative;
   transform-style: preserve-3d;
   }
   .wrapper .card{
   position: absolute;
   height: 100%;
   width: 100%;
   padding: 5px;
   background: #fff;
   border-radius: 10px;
   transform: translateY(0deg);
   transform-style: preserve-3d;
   backface-visibility: hidden;
   box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
   transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
   }
   .wrapper:hover > .front-face{
   transform: rotateY(-180deg);
   }
   .wrapper .card img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 10px;
   }
   .wrapper .back-face{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   transform: rotateY(180deg);
   }
   .wrapper:hover > .back-face{
   transform: rotateY(0deg);
   }
   
  .wrapper .back-face img{
  height:75px;
  width:75px;
  }
   .wrapper .back-face .info{
   text-align: center;
   }
   .back-face .info .title{
   font-size: 15px;
   font-weight: 200;
   color:red;
   }
   .back-face ul{
   display: flex;
   }
   
   .button a{
  text-decoration:none;
  width:100%;
  display:inline-block;
  text-aling:center;
  border:2px solid bisque;
  margin:0px;
  transition:0.5s;
  background:#FB552F;
  border-radius: 4px;
  color: white;
  }
 .button a:hover{
 background:#27C8A4;
 border:1px solid #fff;
 color:#fff;
 }
 
 /*footer css start*/
 
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
 
   *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }
 body{
   background:  #A45DE0;
 }
  .nav{
  height: 50px;
  width: 355px;
  line-height: 50px;
  background: #fff;
  fixed:bottom;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  }
  .nav .menu{
  display: flex;
  position: relative;
  }
  .nav .menu li{
  list-style: none;
  flex: 1;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  }
  .nav .menu li a{
  color: #1d1f20;
  transition: color 0.3s ease;
  padding:25px;
  }
  .nav .menu li:hover a{
  color: #f23b26;
  }
  .nav .menu li:first-child a{
  color: #f23b26;
  }
  .nav .menu .line{
  position: absolute;
  height: 5px;
  width: 20%;
  background: #f23b26;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
  }
  .nav .menu li:nth-child(2):hover ~ .line{
  left: 20%;
  }
  .nav .menu li:nth-child(3):hover ~ .line{
  left: 40%;
  }
  .nav .menu li:nth-child(4):hover ~ .line{
  left: 60%;
  }
  .nav .menu li:nth-child(5):hover ~ .line{
  left: 80%;
  }
  
  
  /*footer css end*/
  
  
.input{
width:200px;
border-radius: 20px; 
margin-left:15px;
border:none;
font-size: 15px;
padding: 7px;
background: #F2F2F2;
outline: none;
}



/*slider start*/

.slider {
	width: 100%;
	margin: 2em auto;
margin-top: 75px;	
}

.slider-wrapper {
	width: 100%;
	height: 200px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}


/*slider end*/

/*catagory start 
#scd{
  font-size: 10px;
}

#ctext{
  font-size: 17px;
  padding-top:15px;
  margin-left: 7px;

}
.cbody{
  background:#8A85E9;
  color: white;
  
}


.cg {
  width: 100px;
  height: 150px;
  float: left;
  margin-left: 10px;
  margin-top:10px;
  box-shadow: 5px 5px 5px  grey;
}

.cgv {
  width: 100px;
  height: 50px;
  background:#8A85E9;
  color: white;
}

#img1 {
  width: 100px;
  height: 100px;
}

/*catagory end*/


/*product start*/

/*.search input {
  width: 150px;
  height: 20px;
  border: none;
  outline: none;
  background-color: grey;
  color: #1F1F1F;
  font-family: calibri;
  font-size: 1rem;
  padding: 0px 10px;

}*/





  *{
	box-sizing: border-box;
	font-family: myriad pro;
 
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
  
  
  .product{
	width: 85%;
	background-color:#FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	display: flex;
	margin:30px auto;
	flex-direction: column;
	align-items: center;
	padding:40px 20px;
	margin-top: px;
	position: relative;
	background-image: url("../images/poduct bg.png");
	background-size:1000px;
	background-position: center;
	border-radius: 10px;
 
}
 
 
.p-heading{
	margin:20px;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
}
.p-heading h3{
	font-family: myriad pro;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	font-size:2rem;
	color:#323543;
 
}
.p-heading h3 font{
	color:#8c84f9;
}
.product-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
}
.p-box{
	width:250px;
	height: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	position: relative;
	margin: 10px 30px;
}
.p-box img{
	height:180px;
}
.p-box p{
	color:#4d4d4d70;
	font-family: myriad pro;
	font-size: 0.9rem;
	letter-spacing: 0.5;
}
.price{
	color:#2c2c2c;
	font-family: poppins;
	font-size: 1rem;;
}
.buy-btn{
	position: absolute;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:calibri;
	left: 50%;
	bottom: -20px;
	transform: translateX(-50%);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
	color:#FFFFFF;
	display: none;
	animation: fade 0.2s;
}
.p-box:hover .buy-btn{
	display: flex;
}
.p-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}
.p-box:hover .price{
	color:#6b60ec;
	transition: all ease 0.2s;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
 
.our-brand{
	display: flex;
	width: 85%;
	margin:30px auto;
	justify-content: space-around;
	align-items: center;
	padding:30px;
}
.brand-text{
	width:40%;
	font-family:myriad pro;}
.brand-img{
	height: 500px;
	width: 50%;
	box-sizing: border-box;
}
.brand-img img{
	width:100%;
	height: 100%;
	object-fit:contain;
}
.brand-text h3{
	color:#333333;
	font-weight: 700;
	font-size:3rem;
	margin:0px;
}
.brand-text h4{
	color: #333333;
	font-weight: 400;
	font-size:2rem;
	margin:0px;
}
.brand-text font{
	color:#fff;
}
.brand-text p{
	font-size: 1rem;
	color:white;
	letter-spacing: 0.5px;
}
.subcribe-container{
width:100%;	
height:250px;
margin-bottom:30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-bottom: 2px solid rgba(0,0,0,0.03);
}
.subcribe-container h3{
font-size: 2rem;
color: rgb(56, 56, 56);
}
.subcribe-input{
	width:500px;
	background-color: #fff;
	border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:20px;
	box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
}
.subcribe-input input{
	width:100%;
	height: 40px;
	border: none;
	outline: none;
	background-color: transparent;
}
.subcribe-btn{
	width:120px;
	height: 40px;
	background-color: #202020;
	border-radius: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	font-size: 1rem;
}
.subcribe-btn:hover{
	background-color:#6b60ec;
	transition: all  ease 0.5s;
}
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	background-image: url("../images/poduct bg.png");
	background-size:400px;
	background-position: center;
	border-radius: 10px;
}
footer h3{
	font-size: 2.5rem;
	color: #202020;
	margin:0px;
}
.footer-menu{
	display: flex;
	box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
	background-color: #fff;
	border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
	justify-content: center;
	align-items: center;
	padding:5px 40px;
}
.footer-menu li a{
	padding:5px 20px;
	margin: 10px;
	display: flex;
	color:#202020;
}
.footer-menu li a:hover{
	color:#6b60ec;
}
.copyright{
	color:#e7e7e7;
	background-color: #141414;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
@media(max-width:1230px){
	.m-img img{
		height: 350px;
	}
	.m-text h1,h2{
		font-size:3.5rem;
	}
}
@media(max-width:1045px){
	.main{
		background-size: 600px;
	}
	.m-img{
		display:none;
	}
	.m-text{
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		
 
	}
.our-brand{
	flex-direction:column-reverse;
}
.brand-text,.brand-img{
	width:100%;
}
.brand-img{
	height:300px;
	margin:20px;
}
}
@media(max-width:600px){
	.social{
		display: none;
	}
	.logo{
	left: 30px;
	top:30px;
	}
	.logo a{
		font-size: 1.4rem;;
	}
	.side-box{
		right:30px;
		top:30px;
	}
	.m-text{
		overflow-wrap: break-word;
		display: flex;
		flex-direction: column;
		margin:auto;
	}
	.m-text h1,h2{
		font-size: 2.5rem;
		line-height:40px;
		margin:0px 20px;
		letter-spacing: 10px;
	 }
	 .m-text h2{
		font-size: 1.2rem;
	 }
	 .m-btn{
		 margin:0px 20px;
	 }
	 .product{
		 width:88%;
	 }
	 .p-box{
		margin:20px 10px;
		padding:10px 20px;
		 width:100%;
		 text-align: center;
	 }
	 .subcribe-input{
		width:95%;
	}
	.subcribe-container h3{
		font-size:1.4rem;
		text-align: center;
	}
	 .footer-menu{
		 width:100%;
		 margin:20px;
		 flex-wrap: wrap;
		 background-color:none;
		 box-shadow: none;
	 }
	 .footer-menu li a{
		 background-color:#fff;
		 border-radius: 20px;
		 box-shadow:2px 2px 30px rgba(0, 0, 0, 0.1) ;
		 padding:10px 30px !important;
	 }
	.copyright {
		 text-align: center;
	 }
	
 
}